<img src="assets/eslogan.jpg" alt="" style="width: 100%;" height="350"> <br> <br>
<b><h1 style="text-align: center;">"Soluciones rápidas, tecnología sin límites"</h1></b><br><br>

<h2 class="container">Especialidades:</h2><br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/sistemas-operativos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Instalación de Sistemas Operativos</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/oficina.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Instalación de Software de Oficina</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/reparacion-computadora.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Reparación de Computadoras</h5>
        </div>
      </div>
    </div>
  </div>
</div> <br> <br> <br>


